<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="template.html">
<head>
<meta charset="utf-8">
<title>STUDEX</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
<script>
	function ShowAndHide() {
	    var tel = document.getElementById('TelSection');
	    if (tel.style.display == 'none') {
	        tel.style.display = 'block';
	    } else {
	        tel.style.display = 'none';
	    }
	    var adresse = document.getElementById('AdresseSection');
	    if (adresse.style.display == 'none') {
	        adresse.style.display = 'block';
	    } else {
	        adresse.style.display = 'none';
	    }
	}
</script>
</head>
<body>

<div layout:fragment="pageContent" class="container spacer">


	<a th:href="@{login}"> Etudiant </a>
	<a th:href="@{login}"> Annonceur </a>
	<a th:href="@{inscription}"> Inscription </a>
	<h1>STUDEX</h1>
	<div class="container spacer">
		<form th:action="@{search}" method="get">
			<div class="form-group">
				<label>Mot Clé </label> <input type="text" name="motCle" />
				<label>Prix min </label> <input type="text" name="prixMin"/>
				<label>Prix max </label> <input type="text" name="prixMax" />
				<select name="quartier">
					<option th:each="q:${quartiers}" th:value="${q.id}" th:text="${q.nom}"></option>
				</select> <br>
				<button type="submit">Chercher</button>
			</div>
		</form>
	</div>
	
		<div class="card m-5" th:each="a:${annonces}">
			<div class="card-header">
				<div style="font-size: 25px;"  class="col-md-10" th:text="${a.titre}"></div>
				<!--<div class="col-md-1"><button type="button" class="btn btn-warning" style="height:30px;width:200px"><a th:href="@{getAnnonce(id=${a.id})}" style="color: white;">Profil d'annonceur</a></button></div>-->
			</div>
			
			<div class="card-body">
			<div class="row">
				<!--IMAGE-->
				<div class="col-md-5"><img style="border: 3px solid #555; margin-bottom: 10px;" th:src="@{getPhoto(id=${a.id})}" width="400" height="300"></div>
				<!--INPUTS-->
				<div class="col-md-4">
				
				
				<div class="row" style="font-size: 20px;"> 
					Ville  :<pre>      </pre><b><div style="font-style: oblique;" th:text="${a.quartier.ville.ville}"></div></b>
				</div><br><br>
				<div class="row" style="font-size: 20px;">
					Quartier :<pre>      </pre><b><div style="font-style: oblique;" th:text="${a.quartier.nom}"></div></b>
				</div><br><br>
				<div class="row" style="font-size: 20px;">
					Type de logement :<pre>      </pre><b><div style="font-style: oblique;" th:text="${a.typeLogement.type}"></div></b>
				</div>	<br><br>
				<div class="row" style="font-size: 20px;">
					Prix :<pre>        </pre><b><div style="font-style: oblique;" th:text="${a.prix}"></div></b>
				</div>
				<div id="TelSection"  class="row" style="font-size: 20px;display:none;">
					Prix Visible :<pre>        </pre><b><div style="font-style: oblique;" th:text="${a.prix}"></div></b>
				</div>
				<div id="AdresseSection"  class="row" style="font-size: 20px;display:none;">
					Prix Visible :<pre>        </pre><b><div style="font-style: oblique;" th:text="${a.prix}"></div></b>
				</div>
				
				
					
					
					
					
					<!-- div  th:text="${a.tel}"></div-->
					
					
					<!-- div  th:text="${a.description}"></div-->
					<!--boutton de suppression (on va utiliser thymeleaf secutiyy extra pour cacher selon role)-->	
				</div>
				<!--BOUTTONS-->
				<div class="col-md-1">
				
				<button type="button" class="btn btn-info" style="height:40px;width:200px"><a th:href="@{getAnnonce(id=${a.id})}" style="color: white;">Plus d'infos</a></button><br>
				<button type="button" class="btn btn-primary mt-2" style="height:100px;width:200px"><a th:href="@{etudiant/deposer(id=${a.id})}" style="color: white;">Déposer <br> mon dossier</a></button>
				<button onclick="ShowAndHide()" type="button" class="btn btn-primary mt-2" style="height:40px;width:200px">Télephone</button>
								
					
				</div>	
			</div>
			
				</div>	
			<div class="card-footer ">
						
					
					
					
					
			
		
		</div>
		
		
	</div>
	
	<!--barre de pagination-->
	<div class="container">
		<div class="card m-5">
			<div class="card-body">
				<ul class="nav nav-pills">
					<li th:each="page,status:${pages}"><!--status qui va nou permettre de recuperer indice de page-->
					<!--au lieu de faire "patients?page=1 on fait ecriture ci dessous"-->
					
						<!-- pour affichage sans recherche
						<a  th:class="${status.index==currentPage?'btn btn-primary':'btn'}" class="btn" 
						th:href="@{patients(page=${status.index})}" th:text="${status.index}"></a>
						-->
						
						<a  th:class="${status.index==currentPage?'btn btn-primary':'btn'}" class="btn" th:href="@{annonces(page=${status.index},size=${size})}" th:text="${status.index}"></a>
						
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	
		
<!-- 		<ul class="nav nav-pills"> -->
<!-- 			<li th:class="${p==pageCourante}?active:''" th:each="p:${pages}"> -->
<!-- 				<a th:text="${p}" th:href="@{Index(page=${p},motCle=${motCle})}"></a> -->
<!-- 			</li> -->
<!-- 		</ul> -->
	

	
	</div>
	
	
</body>
</html>